:root {
    --darkblue: #021927;
    --green: #8bb488;
    --yellow: #fcfcb2;
    --brightblue: #3a5f67;
    --content: white;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.logo {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

.logo>h1 {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.1ch;
    margin: 0;
    text-shadow: 0px 0px 10px #CE0000, 0px 0px 10px #CE0000, 0px 0px 10px #CE0000;
}

.logo>h2 {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.1ch;
    margin: 0;
    text-shadow: 0px 0px 10px #CE0000, 0px 0px 10px #CE0000, 0px 0px 10px #CE0000;
}

.logo>h3 {
    margin: 15px 0 1em 0;
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 0.1ch;
}

input {
    all: unset;
}

ul,
ul li,
ul li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}


body {
    background-color: var(--darkblue);
    color: var(--content);
    margin: 2em auto;

}

input {
    font-size: 2rem;
    text-align: center;
}

.content {
    text-align: center;
    font-size: 1.5rem;
    ;
}

#input {
    color: red;
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    letter-spacing: 0.8ch;
    text-transform: uppercase;
    font-style: normal;
}

#input::placeholder {
    color: black;
    opacity: 0.5;
    text-transform: none;
    letter-spacing: 0.15ch;
}

#input:focus {
    background-color: var(--yellow);
    opacity: 0.6;
}

.ui-input {
    background-image: url('./img/paper.png');
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    min-width: 550px;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;
}

.ui-input > h3 {
     color: red;
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    font-size: 1em;
    letter-spacing: 0.3ch;
    text-transform: uppercase;
    font-style: normal;
    margin: 0;
}
button {
    margin-top: 15px;
}

#output {
    margin-top: 30px;
    color: black;
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    letter-spacing: 0.8ch;
    text-transform: uppercase;
    font-style: normal;
}

#solve {
    cursor: pointer;
    color: black;
    border: 1px solid black;
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight:900;
    text-transform: uppercase;
    font-size: 20px;
    background: var(--yellow);
    opacity: 1;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
}

ul {
    animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

